CompileFlags:
  CompilationDatabase: build
  Remove: 
    - "-fmodules-ts"
    - "-fmodule-mapper=*"
    - "-fdeps-format=*"

Index:
  Background: Build

Diagnostics:
  ClangTidy: 
    Add: 
      - "modernize-*"
      - "performance-*"

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true